
<h1 id="js-trip" data-id=<%= @trip.id %>><%=@trip.title%> - <%= @trip.year %> - Destination: <%= @trip.destination %></h2></h1>

<h2>Trip Category: <%= @trip.category.name%></h2>
<%= button_to 'Edit Trip Details', edit_trip_path, method: :get %><br />
<%= button_to "Delete Trip", {:controller => :trips, :action => 'destroy', :id => @trip.id }, :method => :delete %><br />

<% if user_signed_in? %>
  <fieldset>
    <legend>Items To Pack:</legend>
    <ul>
      <div id="items"></div>
      <div id="added_items"></div>
    </ul>

    <p>Trip Notes: <%= @trip.notes %></p>
  </fieldset>

  <%= button_to 'Display List', items_list_path(@trip), method: :get %><br />

  <br></br>

  Show Items By: <a href="#" data-label="category" data-category-id="<%= @trip.category_id %>" class="item-selector">Category</a> or  <a href="#" data-label="all" class="item-selector">All</a>

  <fieldset>
    <%= form_for @trip, html: {id: "edit_trip_items" } do |f| %>
      <legend><h5>Add New Items To The List - Select From Existing <%= @trip.category.name.capitalize %> Items Or Add New Item:</h5></legend>
      <% if !@trip_items.nil? %>
        <div id=existing_items>
          <% if @trip.display_option == "category_items" %>
            <%= render '/items/category_items', f: f  %>
          <% else %>
            <%= render 'items/all_items', f: f  %>
          <% end %>
        </div>
      <% end %>

      <%= f.fields_for :items, @trip.items.build do |item_fields| %><br />
        <div id=new_item_name>
          <%= f.label "New Item Name" %>
          <%= item_fields.text_field :name %>
        </div>
      <% end %>

      <br>
      <%= fields_for @trip_item do |ti| %>
        <div id=new_item_quantity>
          <%= ti.label "Item Quantity: " %>
          <%= ti.number_field :quantity %><br />
        </div>
      <% end %>
      <%= f.submit "Add Item" %>
    <% end %>
  </fieldset>
<% end %>

<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
    tripId = $('#js-trip')[0].dataset.id
    $.get("/trips/" + tripId + "/items", function(response) {
      var items = response;
      var itemsList = '<ul id=items>';
      items.forEach(function(item) {
        var i = item.trip_items.find(function(f){
          f.trip_id.toString() === tripId;
            return f
        })
        itemsList += '<li>' + item.name + ' - ' + i.quantity + '</li>';
      });
      itemsList += '</ul>'
      $("#items").html(itemsList);
      addEventListener()
    });
  })

  function addEventListener() {
    $('form#edit_trip_items').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var postingItems = $.post(this.action, values)

      postingItems.done(function(response) {
        var item_indexes = $('#existing_items input')
        var name = ""
        for (var i=0; i < item_indexes.length; i++) {
          if (item_indexes[i].checked) {
            name = item_indexes[i].attributes.name.ownerElement.labels[0].innerText
            item_indexes[i].checked = false
          }
        }
        if (!name) {
          name = $('#new_item_name')[0].children[1].value
          $('#new_item_name')[0].children[1].value = ""
        }
        html = "<li>" + name + ' - ' + $('#new_item_quantity')[0].children[1].value + "</li>"
        $('#new_item_quantity')[0].children[1].value = 1
        $('ul#items').append(html)
      })
    })
  }

  $(function(){
    $("a.item-selector").on("click", function(e){
      e.preventDefault();
      if ($(this).data("label") === 'all'){
        $.get("/items.json").success(addItemsToExistingForm)
      } else {
        var categoryID = $(this).data("category-id");
        $.get(`/items.json?category_id=${categoryID}`).success(addItemsToExistingForm)
      }
      // fire our ajax.
    })
  })

  function addItemsToExistingForm(items){
    itemsHTML = ""
    items.forEach(function(item) {
      itemsHTML += `<input type="radio" value="${item.id}" name="trip[item_ids]" id="trip_item_ids_${item.id}"><label for="trip_item_ids_${item.id}">${item.name}</label>`
    })

    $("#existing_items").html(itemsHTML)
  }


</script>
