<h1 id="js-trip" data-id=<%= @trip.id %>><%=@trip.title%> - <%= @trip.year %> - Destination: <%= @trip.destination %></h2></h1>

<h2>Trip Category: <%= @trip.category.name%></h2>
<%= button_to 'Edit Trip Details', edit_trip_path, method: :get %><br />
<%= button_to "Delete Trip", {:controller => :trips, :action => 'destroy', :id => @trip.id }, :method => :delete %><br />

<% if user_signed_in? %>
  <fieldset>
    <legend>Items To Pack:</legend>
    <div id="items"></div>

    <p>Trip Notes: <%= @trip.notes %></p>
  </fieldset>

  <%= button_to 'Display List', trip_items_path(@trip), method: :get, params: { display: "display"} %><br />

  <fieldset>
    <div id="trip" data-id=<%=@trip.id%> ></div>
    <%= form_for @trip, html: {id: "add_items"} do |f| %>

      <legend><h5>Add Items To The List</h5></legend>
      <div>Select From Existing: <a href="#" data-label="category" data-category-id="<%= @trip.category_id %>" class="item-selector"><%= @trip.category.name.capitalize %> Trip Items</a> or <a href="#" data-label="all" class="item-selector">All Items</a></div><br />

      <div id=existing_items data-label=<%= @trip.category_id%> ></div>

      <%= f.fields_for :items, @trip.items.build do |item_fields| %><br />
        <div id=new_item_name>
          <%= f.label "Add New Item: Name" %>
          <%= item_fields.text_field :name %>
        </div>
      <% end %>

      <br>

      <%= fields_for @trip_item do |ti| %>
        <div id=new_item_quantity>
          <%= ti.label "Item Quantity: " %>
          <%= ti.number_field :quantity %><br />
        </div>
      <% end %>

      <%= f.submit "Add Item" %>
    <% end %>
  </fieldset>

<% end %>

<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    tripId = $('#js-trip')[0].dataset.id
    listItems(tripId)
    var categoryID = parseInt($('#existing_items')[0].dataset.label);
    $.get(`/items.json?category_id=${categoryID}`).success(addItemsToExistingForm)
    addEventListener()
  })
</script>
